html {
  background: #eeaeca;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

header {
  margin-top: 100px;
}

body {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

section {
  padding: 1em;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

#toDo {
  width: 85%;
}

.bottoneRemove {
  color: red;
  background-color: white;
  border-style: none;
  font-size: 15px;
}

.aggiungi {
  height: 30px;
  width: 30px;
  font-size: large;
  border-radius: 20px;
}

input {
  height: 30px;
  border-radius: 15px;
  border: solid 1px;
}

.barrato {
  text-decoration: line-through;
  color: grey;
  cursor: pointer;
}

#saveToDo {
  width: 92%;
  list-style-type: none;
  font-size: 1.8em;
  padding: 0;
  cursor: pointer;
}
