html {
  background: #eeaeca;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  font-family: 'Cormorant Garamond', serif;
}

header {
  margin-top: 100px;
}

body {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

section {
  padding: 1em;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 20px 20px 20px 0px grey;
}

h1 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  font-size: xx-large;
}

#toDo {
  width: 85%;
}

.bottoneRemove {
  background-color: white;
  border-style: none;
  font-size: 15px;
}

.aggiungi {
  height: 60px;
  width: 60px;
  font-size: large;
  border-radius: 50px;
  background-color: white;
  border: 1px solid;
}

input {
  height: 50px;
  border-radius: 20px;
  border: solid 1px;
  font-size: 35px;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
}

.barrato {
  text-decoration: line-through;
  color: grey;
  cursor: pointer;
}

#saveToDo {
  width: 92%;
  list-style-type: none;
  font-size: 1.8em;
  padding: 0;
  cursor: pointer;
  font-weight: 400;
}

.listaTodo {
  border-bottom: solid 1px;
  margin-bottom: 0.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
